/*
Optergy Test Rig App/Apis.
Dev | Elshan 2019
*/
.form-signin{
    /*width: 100%; */
    /*max-width: 330px;*/
    /*padding: 15px;
    margin: auto;*/
    /*width: 100%; */
    /* max-width: 330px; */
    max-width: 357px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11.1rem;
    margin-top: -16rem;
    width: 30rem;
    /* height: 53rem; */
    overflow: hidden;
    background: rgba(6, 6, 27, 0.61);
    padding: 23px;
    border-radius: .5rem;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .form-control { 
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    /* margin: 0; */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.img-container{
    text-align: center;
}
#loginlogo{    
    width: 228px;
}
#freemacs:hover,.viewallrestresults:hover,#addmoremacs:hover{
    cursor: pointer;
}
.editrig:hover{
    cursor: pointer;
    color:blueviolet;
}
.dt-bootstrap4 ,.dt-bootstrap4 button, .dt-bootstrap4 span,.dt-bootstrap4 *{
    font-size: 14px;
}
.forgotpw{
    font-size: 14px;
    padding: 1em;
    text-align: right;
    color: #f38787;
}
span#basic-addon1{
    cursor: pointer;
}

.logincopyrights{
    position: absolute;
    width: 100%;
    color: #8c8989;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
    }